{% extends "adminlte3/layouts/base_auth.html" %}
{% load static i18n %}

{% block content_wrapper %}
    <!-- /login-box -->
    <div class="login-box">
        <div class="card card-outline card-primary">
            {% if layout_home_url_name %}<div class="card-header text-center"><a href="{% url layout_home_url_name %}" class="h1">{{ layout_site_name }}</a></div>{% endif %}
            <!-- card-body -->
            <div class="card-body">

                {% if validlink %}

                    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                    <form method="post">{% csrf_token %}
                        <fieldset class="module aligned">
                            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}" />
                            <div class="form-row field-password1">
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">{% translate 'New password:' %}</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="form-row field-password2">
                                {{ form.new_password2.errors }}
                                <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                                {{ form.new_password2 }}
                            </div>
                            <input type="submit" value="{% translate 'Change my password' %}" />
                        </fieldset>
                    </form>

                {% else %}

                    <p class="login-box-msg text-danger">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    <p>{% translate "You forgot your password? Here you can easily retrieve a new password." %}</p>
                    <p><a href="{% url 'password_reset' %}">{% translate "I forgot my password" %}</a></p>

                {% endif %}

            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.login-box -->

{% endblock content_wrapper %}
