{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content_title %}{{ title }}{% endblock content_title %}

{% block breadcrumbs %}
    <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url layout_home_url_name %}">{% translate 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Admin' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a></li>
        <li class="breadcrumb-item active">{% translate 'History' %}</li>
    </ol>
    </div><!-- /.col -->
{% endblock breadcrumbs %}

{% block content %}
<div id="content-main">
    <div class="row"><!-- .row -->
        <div class="col-md-12">
        <div class="card card-primary card-outline"><!-- .card -->

            <div class="card-header"><!-- .card-header -->
                <h3 class="card-title">{% translate 'Change list' %}</h3>
            </div><!-- /.card-header -->

            <div class="card-body"><!-- .card-body -->
                {% if action_list %}
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">{% translate 'When' %}</th>
                                <th scope="col">{% translate 'Who' %}</th>
                                <th scope="col">{% translate 'What' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for action in action_list %}
                            <tr>
                                <td scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</td>
                                <td>{{ action.user.get_username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
                                <td>{{ action.get_change_message }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% translate 'This object doesn’t have a change history. It probably wasn’t added via this admin site.' %}</p>
                {% endif %}
            </div><!-- /.card-body -->

        </div><!-- /.card -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- ./content-main -->

{% endblock %}
