<div class="tab-pane text-left fade {% if forloop.counter == 2 or not fieldset.name %}active show{% endif %}" id="vert-tabs-{{ fieldset.name|slugify }}" role="tabpanel" aria-labelledby="vert-tabs-{{ fieldset.name|slugify }}-tab">
    {% if fieldset.description %}
        <div class="callout callout-info">
            <p>{{ fieldset.description|safe }}</p>
        </div>
    {% endif %}
    {% for line in fieldset %}
        {% for field in line %}
            <div class="form-group">
                
                {% if field.is_checkbox %}
                    <div class="icheck-primary d-inline">
                        <input class="form-check-input" type="checkbox" checked="" id="id_{{ field.field.name }}" /><label class="form-check-label" for="id_{{ field.field.name }}">{{ field.field.label }}</label>
                    </div>
                {% else %}
                    <label class="required" for="id_{{ field.field.name }}">{{ field.field.label }}</label>
                    {{ field.field }}
                {% endif %}
                
                {% if not line.fields|length_is:'1' and not field.is_readonly %}
                    <span id="id_{{ field.field.name }}_error" class="error invalid-feedback">{{ field.errors }}</span>
                {% endif %}

                {% if field.field.help_text %}
                    <div class="help-block text-sm text-muted">{{ field.field.help_text|safe }}</div>
                {% endif %}

            </div>
        {% endfor %}
    {% endfor %}
</div>
