{% load i18n admin_urls static admin_modify %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
  <meta charset="utf-8" />

  <meta name="keywords" content="{{ site_keywords }}" />
  <meta name="description" content="{{ site_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

  <title>{% block title %}{{ layout_site_name }}{% if page_title %} | {{ page_title }} {% endif %}{% endblock title %}</title>
  {% block favicon %}
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}" />
    <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml' %}" />
    <meta name="theme-color" content="#ffffff" />
  {% endblock favicon %}

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static '/fontawesome-free/css/all.min.css' %}" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{% static '/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}" />
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static '/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
  <!-- JQVMap -->
  <link rel="stylesheet" href="{% static '/jqvmap/jqvmap.min.css' %}" />
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static '/adminlte3/css/adminlte.min.css' %}" />
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static '/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static '/daterangepicker/daterangepicker.css' %}" />
  <!-- summernote -->
  <link rel="stylesheet" href="{% static '/summernote/summernote-bs4.min.css' %}" />

  {% if cl.formset %} <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" /> {% endif %}

  {% block stylesheet_rtl %}{% endblock stylesheet_rtl %}

  {% block extrahead %}{% endblock extrahead %}

  {% block responsive %}{% endblock responsive %}
  
  {% block extra_styles %}{% endblock extra_styles %}

  {% if cl or action_form %} <script src="{% url 'admin:jsi18n' %}"></script>{% endif %}
  {% block extra_top_scripts %}{% endblock extra_top_scripts %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block body_classes %}hold-transition sidebar-mini layout-boxed {% block bodyclass %}{% if body_classes %}{{ body_classes }}{% endif %}{% endblock bodyclass %}{% endblock body_classes %}" data-admin-utc-offset="{% now "Z" %}">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static '/adminlte3/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60" />
  </div>

  <!-- Navbar -->
  {% block navbar %}
    {% include 'adminlte3/layouts/partials/navbar.html' %}
  {% endblock navbar %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% block main_sidebar %}
    {% include 'adminlte3/layouts/partials/main_sidebar.html' %}
  {% endblock main_sidebar %}
  <!-- /.main_sidebar -->

  <!-- Content Wrapper. Contains page content -->
  {% block content_wrapper %}
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content_header %}
          <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">                  
                    <div class="col-sm-6">
                      <h1 class="m-0">
                        {% block content_title %}
                          {% if page_title %}
                            {{ page_title }}
                          {% elif cl.opts %}
                            {{ cl.opts.verbose_name_plural|capfirst }}
                          {% elif opts %}
                            {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{% blocktranslate with name=opts.verbose_name %}Change {{ name }}{% endblocktranslate %}{% endif %}
                          {% else %}
                            {{ layout_auto_page_title }}
                          {% endif %}
                        {% endblock content_title %}
                      </h1>
                    </div>
                  
                  {% if not is_popup %}
                    {% block breadcrumbs %}
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="{% url layout_home_url_name %}">{% translate 'Home' %}</a></li>
                          {% if cl.opts %}
                            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Admin' %}</a></li>
                            {% comment %} <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li> {% endcomment %}
                            <li class="breadcrumb-item active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
                          {% elif opts %}
                            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Admin' %}</a></li>
                            <li class="breadcrumb-item">{% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
                            <li class="breadcrumb-item active">{% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
                          {% else %}
                            <li class="breadcrumb-item active">{% if page_title %}{{ page_title }}{% else %}{{ layout_auto_page_title }}{% endif %}</li>
                          {% endif %}
                        </ol>
                      </div><!-- /.col -->
                    {% endblock breadcrumbs %}            
                  {% endif %}
                </div><!-- /.row -->
                {% block content_subtitle %}
                  {% if subtitle %}
                    <div class="row mb-2">
                      <h2>{{ subtitle }}</h2>
                    </div><!-- /.row -->
                  {% endif %}
                {% endblock content_subtitle %}
              </div><!-- /.container-fluid -->
          </section>
        {% endblock content_header %}
        <!-- /.content-header -->
        
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          {% block messages %}
            {% if messages %}
              <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
              {% endfor %}</ul>
            {% endif %}
          {% endblock messages %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock content %}
          {% block sidebar %}{% endblock sidebar %}
          <br class="clear" />
        </div >
      </section>
      <!-- /.content -->  
    </div>
  {% endblock content_wrapper %}
  <!-- /.content-wrapper -->

  <!-- Footer -->
  {% block footer %}
  {% comment %} <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.2.0</div>
  </footer> {% endcomment %}
  {% endblock footer %}
  <!-- /.footer -->

  <!-- Control Sidebar -->
  {% block control_sidebar %}
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  {% endblock control_sidebar %}
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% block bottom_scripts %}
  <!-- jQuery -->
  <script src="{% static '/jquery/jquery.min.js'%}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{% static '/jquery-ui/jquery-ui.min.js' %}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>$.widget.bridge('uibutton', $.ui.button)</script>
  <!-- Bootstrap 4 -->
  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- ChartJS -->
  <script src="{% static '/chart.js/Chart.min.js' %}"></script>
  <!-- Sparkline -->
  <script src="{% static '/sparklines/sparkline.js' %}"></script>
  <!-- JQVMap -->
  <script src="{% static '/jqvmap/jquery.vmap.min.js' %}"></script>
  <script src="{% static '/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{% static '/jquery-knob/jquery.knob.min.js' %}"></script>
  <!-- daterangepicker -->
  <script src="{% static '/moment/moment.min.js' %}"></script>
  <script src="{% static '/daterangepicker/daterangepicker.js' %}"></script>
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="{% static '/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <!-- Summernote -->
  <script src="{% static '/summernote/summernote-bs4.min.js' %}"></script>
  <!-- overlayScrollbars -->
  <script src="{% static '/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static '/adminlte3/js/adminlte.js' %}"></script>
{% endblock bottom_scripts %}

{% block customizer_scripts %}
  {% if layout_has_customizer %}
  <!-- AdminLTE for demo purposes -->
  <script src="{% static '/adminlte3/js/customizer.js' %}"></script>
  {% endif %}
{% endblock customizer_scripts %}

{% block extra_bottom_scripts %}
{% endblock extra_bottom_scripts %}
</body>
</html>
