{% extends "adminlte3/layouts/base.html" %}
{% load static i18n %}

{% block navbar %}{% endblock navbar %}

{% block main_sidebar %}{% endblock main_sidebar %}

{% block control_sidebar %}{% endblock control_sidebar %}

{% block extra_styles %}<style>body { min-height: 466px !important; padding-top: 100px; }</style>{% endblock extra_styles %}

{% block body_classes %}hold-transition login-page{% endblock body_classes %}

{% block content_wrapper %}{% endblock content_wrapper %}

{% block footer %}{% endblock footer %}

{% block customizer_scripts %}{% endblock customizer_scripts %}
