{% load i18n admin_urls static admin_modify %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">

<head>
  <script>function gettext(txt){ return txt }</script>
  <script>function pgettext(txt){ return txt }</script>
  <script>function get_format(txt){ return txt }</script>
  <script>function gettext_noop(txt){ return txt }</script>
  <meta charset="utf-8" />

  <meta name="keywords" content="{{ site_keywords }}" />
  <meta name="description" content="{{ site_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

  <title>{% block title %}{{ layout_site_name }}{% if page_title %} | {{ page_title }} {% endif %}{% endblock title %}</title>
  {% block favicon %}
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}" />
    <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml' %}" />
    <meta name="theme-color" content="#ffffff" />
  {% endblock favicon %}

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static '/fontawesome-free/css/all.min.css' %}" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{% static '/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}" />
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static '/icheck-bootstrap/icheck-bootstrap.min.css' %}" />
  <!-- JQVMap -->
  <link rel="stylesheet" href="{% static '/jqvmap/jqvmap.min.css' %}" />
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static '/adminlte3/css/adminlte.min.css' %}" />
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static '/overlayScrollbars/css/OverlayScrollbars.min.css' %}" />
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static '/daterangepicker/daterangepicker.css' %}" />
  <!-- summernote -->
  <link rel="stylesheet" href="{% static '/summernote/summernote-bs4.min.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  <style>
    .form-group.is-invalid > .form-control,
    .form-group.is-invalid > .input-group > .form-control
    { 
      border-color: red;
      padding-right: 2.25rem!important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    .is-invalid > .invalid-feedback, .is-invalid > .invalid-tooltip
    {
      display: block !important;
    }

    .borda-vermelha{
      border: 1px solid red !important;
    }
    .borda-verde{
      border: 1px solid green !important;
    }

    .borda-vermelha-navMenu{
      border-color: red !important;
    }
    .borda-verde-navMenu{
      border-color: green !important;
    }

  </style>

  {% block stylesheet_rtl %}{% endblock stylesheet_rtl %}

  {% block extrahead %}{% endblock extrahead %}

  {% block responsive %}{% endblock responsive %}
  
  {% block extra_styles %}{% endblock extra_styles %}

  {% if cl or action_form %} <script src="{% url 'admin:jsi18n' %}"></script>{% endif %}
  {% block extra_top_scripts %}{% endblock extra_top_scripts %}
</head>
<body class="{% if is_popup %}popup {% endif %}{% block body_classes %}hold-transition sidebar-mini layout-boxed {% block bodyclass %}{% if body_classes %}{{ body_classes }}{% endif %}{% endblock bodyclass %}{% endblock body_classes %}" data-admin-utc-offset="{% now "Z" %}">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{% static '/adminlte3/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60" />
  </div>

  <!-- Navbar -->
  {% block navbar %}
    {% include 'adminlte3/layouts/partials/navbar.html' %}
  {% endblock navbar %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% block main_sidebar %}
    {% include 'adminlte3/layouts/partials/main_sidebar.html' %}
  {% endblock main_sidebar %}
  <!-- /.main_sidebar -->

  <!-- Content Wrapper. Contains page content -->
  {% block content_wrapper %}
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block content_header %}
          <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">                  
                    <div class="col-sm-6">
                      <h1 class="m-0">
                        {% block content_title %}
                          {% if page_title %}
                            {{ page_title }}
                          {% elif cl.opts %}
                            {{ cl.opts.verbose_name_plural|capfirst }}
                          {% elif opts %}
                            {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{% blocktranslate with name=opts.verbose_name %}Change {{ name }}{% endblocktranslate %}{% endif %}
                          {% else %}
                            {{ layout_auto_page_title }}
                          {% endif %}
                        {% endblock content_title %}
                      </h1>
                    </div>
                  
                  {% if not is_popup %}
                    {% block breadcrumbs %}
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="{% url layout_home_url_name %}">{% translate 'Home' %}</a></li>
                          {% if cl.opts %}
                            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Admin' %}</a></li>
                            {% comment %} <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></li> {% endcomment %}
                            <li class="breadcrumb-item active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
                          {% elif opts %}
                            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Admin' %}</a></li>
                            <li class="breadcrumb-item">{% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
                            <li class="breadcrumb-item active">{% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
                          {% else %}
                            <li class="breadcrumb-item active">{% if page_title %}{{ page_title }}{% else %}{{ layout_auto_page_title }}{% endif %}</li>
                          {% endif %}
                        </ol>
                      </div><!-- /.col -->
                    {% endblock breadcrumbs %}            
                  {% endif %}
                </div><!-- /.row -->
                {% block content_subtitle %}
                  {% if subtitle %}
                    <div class="row mb-2">
                      <h2>{{ subtitle }}</h2>
                    </div><!-- /.row -->
                  {% endif %}
                {% endblock content_subtitle %}
              </div><!-- /.container-fluid -->
          </section>
        {% endblock content_header %}
        <!-- /.content-header -->
        
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          {% block messages %}
            {% if messages %}
              <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
              {% endfor %}</ul>
            {% endif %}
          {% endblock messages %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock content %}
          {% block sidebar %}{% endblock sidebar %}
          <br class="clear" />
        </div >
      </section>
      <!-- /.content -->  
    </div>
  {% endblock content_wrapper %}
  <!-- /.content-wrapper -->

  <!-- Footer -->
  {% block footer %}
  {% comment %} <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.2.0</div>
  </footer> {% endcomment %}
  {% endblock footer %}
  <!-- /.footer -->

  <!-- Control Sidebar -->
  {% block control_sidebar %}
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  {% endblock control_sidebar %}
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% block bottom_scripts %}
{% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
  <!-- jQuery -->
  <script src="{% static '/jquery/jquery.min.js'%}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{% static '/jquery-ui/jquery-ui.min.js' %}"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>$.widget.bridge('uibutton', $.ui.button)</script>
  <!-- ChartJS -->
  <script src="{% static '/chart.js/Chart.min.js' %}"></script>
  <!-- Sparkline -->
  <script src="{% static '/sparklines/sparkline.js' %}"></script>
  <!-- JQVMap -->
  <script src="{% static '/jqvmap/jquery.vmap.min.js' %}"></script>
  <script src="{% static '/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
  <!-- jQuery Knob Chart -->
  <script src="{% static '/jquery-knob/jquery.knob.min.js' %}"></script>
  <!-- daterangepicker -->
  <script src="{% static '/moment/moment-with-locales.min.js' %}"></script>
  <script src="{% static '/daterangepicker/daterangepicker.js' %}"></script>


  <!-- Summernote -->
  <script src="{% static '/summernote/summernote-bs4.min.js' %}"></script>
  <!-- overlayScrollbars -->
  <script src="{% static '/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static '/adminlte3/js/adminlte.js' %}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static '/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js' %}"></script>
  <script>
    $(function () {
      //Datemask dd/mm/yyyy
      //$('.date-field').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
      //$('.datetimepicker-input').datetimepicker({format: 'L', sideBySide: true, debug: true});
      //$.datetimepicker.setLocale('br');
      $('#id_date_field-input-group').datetimepicker({
        format: 'DD/MM/YYYY', 
        sideBySide: true, 
        locale: "pt-BR",
        debug: true,

      });

      $('#id_date_time_field_0-input-group').datetimepicker({
        format: 'DD/MM/YYYY', 
        sideBySide: true, 
        locale: "pt-BR",
        debug: true,
        });

      $('#id_time-input-group').datetimepicker({
        //format: 'LT'
        format: 'HH:mm'
      });

      $('#id_date_time_field_1-input-group').datetimepicker({
        //format: 'LT'
        format: 'HH:mm'
      });

      })
  </script>

  <script>

    // Validador campo Email field
    function validateEmail(email) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return emailReg.test( email );
  }


    $("#id_email_field").focusout(function() {
        var email = $("input[type='email']").val();
        if(!validateEmail(email) || email == ""){
          $("#id_email_field").removeClass("borda-verde");
          $("#id_email_field").addClass("borda-vermelha");
        }else{
          $("#id_email_field").removeClass("borda-vermelha");
          $("#id_email_field").addClass("borda-verde");
        }
        
    })

    //Validador campo Char Field
    $("#id_char_field").focusout(function(){
  
      if($("#id_char_field").val() == ""){
        $("#id_char_field").addClass("borda-vermelha");
        $("#id_char_field").removeClass("borda-verde");
      }else{
        $("#id_char_field").removeClass("borda-vermelha");
        $("#id_char_field").addClass("borda-verde");
      }
    })

    //Validador Text Field
    $("#id_text_field").focusout(function(){
  
      if($("#id_text_field").val() == ""){
        $("#id_text_field").addClass("borda-vermelha");
        $("#id_text_field").removeClass("borda-verde");
      }else{
        $("#id_text_field").removeClass("borda-vermelha");
        $("#id_text_field").addClass("borda-verde");
      }
    })

    //Validador Slug  Field

    $("#id_slug_field").focusout(function(){
  
      if($("#id_slug_field").val() == ""){
        $("#id_slug_field").addClass("borda-vermelha");
        $("#id_slug_field").removeClass("borda-verde");
      }else{
        $("#id_slug_field").removeClass("borda-vermelha");
        $("#id_slug_field").addClass("borda-verde");
      }
    })

        // Validador campo small intenger Field
        $("#id_small_integer_field").focusout(function(){
  
          if($("#id_small_integer_field").val() == ""){
            $("#id_small_integer_field").addClass("borda-vermelha");
            $("#id_small_integer_field").removeClass("borda-verde");
          }else{
            $("#id_small_integer_field").removeClass("borda-vermelha");
            $("#id_small_integer_field").addClass("borda-verde");
          }
        })

        // Validador campo Intenger Field 
        $("#id_integer_field").focusout(function(){
  
          if($("#id_integer_field").val() == ""){
            $("#id_integer_field").addClass("borda-vermelha");
            $("#id_integer_field").removeClass("borda-verde");
          }else{
            $("#id_integer_field").removeClass("borda-vermelha");
            $("#id_integer_field").addClass("borda-verde");
          }
        })

        // Validador campo Big Intenger Field 
        $("#id_big_integer_field").focusout(function(){
  
          if($("#id_big_integer_field").val() == ""){
            $("#id_big_integer_field").addClass("borda-vermelha");
            $("#id_big_integer_field").removeClass("borda-verde");
          }else{
            $("#id_big_integer_field").removeClass("borda-vermelha");
            $("#id_big_integer_field").addClass("borda-verde");
          }
        })

        // Validador campo Positive small integer field 
        function validatePositiveInteger(positiveIntenger) {
          var positiveReg = /^[1-9]\d*$/;
          return positiveReg.test( positiveIntenger );
      }
    
    
        $("#id_positive_small_integer_field").focusout(function() {
            var positiveItenger = $("#id_positive_small_integer_field").val();
            if(!validatePositiveInteger(positiveItenger)){
              $("#id_positive_small_integer_field").removeClass("borda-verde");
              $("#id_positive_small_integer_field").addClass("borda-vermelha");
            }else{
              $("#id_positive_small_integer_field").removeClass("borda-vermelha");
              $("#id_positive_small_integer_field").addClass("borda-verde");
            }
            
        })

        // Validador campo Positive integer field
        function validatePositiveInteger(positiveIntenger) {
          var positiveReg = /^[1-9]\d*$/;
          return positiveReg.test( positiveIntenger );
      }
    
    
        $("#id_positive_integer_field").focusout(function() {
            var positiveItenger = $("#id_positive_integer_field").val();
            if(!validatePositiveInteger(positiveItenger)){
              $("#id_positive_integer_field").removeClass("borda-verde");
              $("#id_positive_integer_field").addClass("borda-vermelha");
            }else{
              $("#id_positive_integer_field").removeClass("borda-vermelha");
              $("#id_positive_integer_field").addClass("borda-verde");
            }
            
        })

        // Validador campo Positive big integer field
        function validatePositiveInteger(positiveIntenger) {
          var positiveReg = /^[1-9]\d*$/;
          return positiveReg.test( positiveIntenger );
      }
    
    
        $("#id_positive_big_integer_field").focusout(function() {
            var positiveItenger = $("#id_positive_big_integer_field").val();
            if(!validatePositiveInteger(positiveItenger)){
              $("#id_positive_big_integer_field").removeClass("borda-verde");
              $("#id_positive_big_integer_field").addClass("borda-vermelha");
            }else{
              $("#id_positive_big_integer_field").removeClass("borda-vermelha");
              $("#id_positive_big_integer_field").addClass("borda-verde");
            }
            
        })

        // Validador campo Decimal field 
        $("#id_decimal_field").focusout(function(){
  
          if($("#id_decimal_field").val() == ""){
            $("#id_decimal_field").addClass("borda-vermelha");
            $("#id_decimal_field").removeClass("borda-verde");
          }else{
            $("#id_decimal_field").removeClass("borda-vermelha");
            $("#id_decimal_field").addClass("borda-verde");
          }
        })

        // Validador campo Float field 
        $("#id_float_field").focusout(function(){
  
          if($("#id_float_field").val() == ""){
            $("#id_float_field").addClass("borda-vermelha");
            $("#id_float_field").removeClass("borda-verde");
          }else{
            $("#id_float_field").removeClass("borda-vermelha");
            $("#id_float_field").addClass("borda-verde");
          }
        })

        //Date Field
        function validateDateField(dateField) {
          var dateReg = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-.\/])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$/;
          return dateReg.test( dateField );
      }
    
    
        $("#id_date_field").focusout(function() {
            var dateField = $("#id_date_field").val();
            if(!validateDateField(dateField)){
              $("#id_date_field").removeClass("borda-verde");
              $("#id_date_field").addClass("borda-vermelha");
            }else{
              $("#id_date_field").removeClass("borda-vermelha");
              $("#id_date_field").addClass("borda-verde");
            }
            
        })

        //Time Negrito
        function validateTimeNegrito(timeNegrito) {
          var timeReg = /^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$/;
          return timeReg.test( timeNegrito );
      }
    
    
        $("#id_time").focusout(function() {
            var timeNegrito = $("#id_time").val();
            if(!validateTimeNegrito(timeNegrito)){
              $("#id_time").removeClass("borda-verde");
              $("#id_time").addClass("borda-vermelha");
            }else{
              $("#id_time").removeClass("borda-vermelha");
              $("#id_time").addClass("borda-verde");
            }
            
        })

        //Date
        $("#id_date_time_field_0").focusout(function() {
          var dateField = $("#id_date_time_field_0").val();
          if(!validateDateField(dateField)){
            $("#id_date_time_field_0").removeClass("borda-verde");
            $("#id_date_time_field_0").addClass("borda-vermelha");
          }else{
            $("#id_date_time_field_0").removeClass("borda-vermelha");
            $("#id_date_time_field_0").addClass("borda-verde");
          }
          
      })

        //Time Sem Negrito
        $("#id_date_time_field_1").focusout(function() {
          var timeSemNegrito = $("#id_date_time_field_1").val();
          if(!validateTimeNegrito(timeSemNegrito)){
            $("#id_date_time_field_1").removeClass("borda-verde");
            $("#id_date_time_field_1").addClass("borda-vermelha");
          }else{
            $("#id_date_time_field_1").removeClass("borda-vermelha");
            $("#id_date_time_field_1").addClass("borda-verde");
          }
          
      })

        //Duration Field
        $("#id_duration_field").focusout(function(){
  
          if($("#id_duration_field").val() == ""){
            $("#id_duration_field").addClass("borda-vermelha");
            $("#id_duration_field").removeClass("borda-verde");
          }else{
            $("#id_duration_field").removeClass("borda-vermelha");
            $("#id_duration_field").addClass("borda-verde");
          }
        })

        // Validador campo Generic ip address field
        function validateIpAdress(ipAdress) {
          var IpAdress = /(?:0|25[0-5]|2[0-4]\d|1\d?\d?|[1-9]\d?)(?:\.(?:0|25[0-5]|2[0-4]\d|1\d?\d?|[1-9]\d?)){3}/;
          return IpAdress.test( ipAdress );
      }
    
    
        $("#id_generic_ip_address_field").focusout(function() {
            var ipAdress = $("#id_generic_ip_address_field").val();
            if(!validateIpAdress(ipAdress)){
              $("#id_generic_ip_address_field").removeClass("borda-verde");
              $("#id_generic_ip_address_field").addClass("borda-vermelha");
            }else{
              $("#id_generic_ip_address_field").removeClass("borda-vermelha");
              $("#id_generic_ip_address_field").addClass("borda-verde");
            }
            
        })

        // Validador campo Url field
        function validateUrl(url) {
          var urlValidator = /((([A-Za-z]{3,9}:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)/;
          return urlValidator.test( url );
      }
    
    
        $("#id_url_field").focusout(function() {
            var urlValidator = $("#id_url_field").val();
            if(!validateUrl(urlValidator)){
              $("#id_url_field").removeClass("borda-verde");
              $("#id_url_field").addClass("borda-vermelha");
            }else{
              $("#id_url_field").removeClass("borda-vermelha");
              $("#id_url_field").addClass("borda-verde");
            }
            
        })

        //Json Field
        function validatorJson(json){
          let jsonValid = false;
            try{
              JSON.parse(json);
              jsonValid = true;
              return true;
            }catch(err){
              jsonValid = false;
              return false;
              
            }
          return jsonValid;
        }

        $("#id_json_field").focusout(function() {
          var jsonValidator = $("#id_json_field").val();
          console.log(jsonValidator);
          if(!validatorJson(jsonValidator) || jsonValidator == "null"){
            $("#id_json_field").removeClass("borda-verde");
            $("#id_json_field").addClass("borda-vermelha");
          }else{
            $("#id_json_field").removeClass("borda-vermelha");
            $("#id_json_field").addClass("borda-verde");
          }
          
      })
        //Uuid Field

        // Validador campo Uuid Field
        function validateUuid(uuid) {
          var uuidValidator = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-5][0-9a-f]{3}-[089ab][0-9a-f]{3}-[0-9a-f]{12}$/;
          return uuidValidator.test( uuid );
      }

      $("#id_uuid_field").focusout(function() {
        var uuidlValidator = $("#id_uuid_field").val();
        if(!validateUuid(uuidlValidator)){
          $("#id_uuid_field").removeClass("borda-verde");
          $("#id_uuid_field").addClass("borda-vermelha");
        }else{
          $("#id_uuid_field").removeClass("borda-vermelha");
          $("#id_uuid_field").addClass("borda-verde");
        }
        
    })

        //After an submit click, this will be called
        $('#alldatatypes_form').submit(function(event) {
        //  alert("Alert 01");
          event.preventDefault(); //this will prevent the default submit
          var _this = $(this); //store form so it can be accessed later
          var goAheadSubmit = "";
          $.ajax('GET', 'url').then(function(resp) {

            //Char Field
            if($("#id_char_field").val() == ""){
              $("#id_char_field").addClass("borda-vermelha");
              $("#id_char_field").removeClass("borda-verde");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_char_field").removeClass("borda-vermelha");
              $("#id_char_field").addClass("borda-verde");
              
              //Seguir para o submit true
              goAheadSubmit = "true";
            }

            //Text Field
            if($("#id_text_field").val() == ""){
              $("#id_text_field").addClass("borda-vermelha");
              $("#id_text_field").removeClass("borda-verde");
              
              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_text_field").removeClass("borda-vermelha");
              $("#id_text_field").addClass("borda-verde");
              
              //Seguir para o submit true
              goAheadSubmit = "true";
            }

            //Slug Field
            if($("#id_slug_field").val() == ""){
              $("#id_slug_field").addClass("borda-vermelha");
              $("#id_slug_field").removeClass("borda-verde");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_slug_field").removeClass("borda-vermelha");
              $("#id_slug_field").addClass("borda-verde");

              //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Small Integer Field
            if($("#id_small_integer_field").val() == ""){
              $("#id_small_integer_field").addClass("borda-vermelha");
              $("#id_small_integer_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_small_integer_field").removeClass("borda-vermelha");
              $("#id_small_integer_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Integer Field
            if($("#id_integer_field").val() == ""){
              $("#id_integer_field").addClass("borda-vermelha");
              $("#id_integer_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_integer_field").removeClass("borda-vermelha");
              $("#id_integer_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

              //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Big Integer Field
            if($("#id_big_integer_field").val() == ""){
              $("#id_big_integer_field").addClass("borda-vermelha");
              $("#id_big_integer_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_big_integer_field").removeClass("borda-vermelha");
              $("#id_big_integer_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

              //Seguir para o submit true
              goAheadSubmit = "true";
            }

            //Positive Small Integer Field
            var positiveItenger = $("#id_positive_small_integer_field").val();
            if(!validatePositiveInteger(positiveItenger)){
              $("#id_positive_small_integer_field").removeClass("borda-verde");
              $("#id_positive_small_integer_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_positive_small_integer_field").removeClass("borda-vermelha");
              $("#id_positive_small_integer_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Positive integer field
            var positiveItenger = $("#id_positive_integer_field").val();
            if(!validatePositiveInteger(positiveItenger)){
              $("#id_positive_integer_field").removeClass("borda-verde");
              $("#id_positive_integer_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_positive_integer_field").removeClass("borda-vermelha");
              $("#id_positive_integer_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");
              
                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            // Positive big Integer FIeld
            var positiveItenger = $("#id_positive_big_integer_field").val();
            if(!validatePositiveInteger(positiveItenger)){
              $("#id_positive_big_integer_field").removeClass("borda-verde");
              $("#id_positive_big_integer_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_positive_big_integer_field").removeClass("borda-vermelha");
              $("#id_positive_big_integer_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Decial Field
            if($("#id_decimal_field").val() == ""){
              $("#id_decimal_field").addClass("borda-vermelha");
              $("#id_decimal_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_decimal_field").removeClass("borda-vermelha");
              $("#id_decimal_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Float Field
            if($("#id_float_field").val() == ""){
              $("#id_float_field").addClass("borda-vermelha");
              $("#id_float_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_float_field").removeClass("borda-vermelha");
              $("#id_float_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-number-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-number-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Date Field
              var dateField = $("#id_date_field").val();
              if(!validateDateField(dateField)){
                $("#id_date_field").removeClass("borda-verde");
                $("#id_date_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-date-time-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-date-time-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
              }else{
                $("#id_date_field").removeClass("borda-vermelha");
                $("#id_date_field").addClass("borda-verde");

                //sidebar Menu
                $("#vert-tabs-date-time-tab").removeClass("borda-vermelha-navMenu");
                $("#vert-tabs-date-time-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
                goAheadSubmit = "true";
              }

            //Time Negrito

              var timeNegrito = $("#id_time").val();
              if(!validateTimeNegrito(timeNegrito)){
                $("#id_time").removeClass("borda-verde");
                $("#id_time").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-date-time-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-date-time-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
              }else{
                $("#id_time").removeClass("borda-vermelha");
                $("#id_time").addClass("borda-verde");

                //sidebar Menu
                $("#vert-tabs-date-time-tab").removeClass("borda-vermelha-navMenu");
                $("#vert-tabs-date-time-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
                goAheadSubmit = "true";
              }

               //Date
                var dateField = $("#id_date_time_field_0").val();
                if(!validateDateField(dateField)){
                  $("#id_date_time_field_0").removeClass("borda-verde");
                  $("#id_date_time_field_0").addClass("borda-vermelha");

                  //sidebar Menu
                 $("#vert-tabs-date-time-tab").addClass("borda-vermelha-navMenu");
                 $("#vert-tabs-date-time-tab").removeClass("borda-verde-navMenu");

                  //Seguir para o submit false
                  goAheadSubmit = "false";
                }else{
                  $("#id_date_time_field_0").removeClass("borda-vermelha");
                  $("#id_date_time_field_0").addClass("borda-verde");

                  //sidebar Menu
                  $("#vert-tabs-date-time-tab").removeClass("borda-vermelha-navMenu");
                  $("#vert-tabs-date-time-tab").addClass("borda-verde-navMenu");

                  //Seguir para o submit true
                  goAheadSubmit = "true";
                }
              
              //Time Sem Negrito
                var timeSemNegrito = $("#id_date_time_field_1").val();
                if(!validateTimeNegrito(timeSemNegrito)){
                  $("#id_date_time_field_1").removeClass("borda-verde");
                  $("#id_date_time_field_1").addClass("borda-vermelha");

                //sidebar Menu
                 $("#vert-tabs-date-time-tab").addClass("borda-vermelha-navMenu");
                 $("#vert-tabs-date-time-tab").removeClass("borda-verde-navMenu");

                  //Seguir para o submit false
                  goAheadSubmit = "false";
                }else{
                  $("#id_date_time_field_1").removeClass("borda-vermelha");
                  $("#id_date_time_field_1").addClass("borda-verde");

                  //sidebar Menu
                  $("#vert-tabs-date-time-tab").removeClass("borda-vermelha-navMenu");
                  $("#vert-tabs-date-time-tab").addClass("borda-verde-navMenu");

                  //Seguir para o submit true
                  goAheadSubmit = "true";
                }

              //Duration Field      
                if($("#id_duration_field").val() == ""){
                  $("#id_duration_field").addClass("borda-vermelha");
                  $("#id_duration_field").removeClass("borda-verde");

                //sidebar Menu
                 $("#vert-tabs-date-time-tab").addClass("borda-vermelha-navMenu");
                 $("#vert-tabs-date-time-tab").removeClass("borda-verde-navMenu");

                  //Seguir para o submit false
                  goAheadSubmit = "false";
                }else{
                  $("#id_duration_field").removeClass("borda-vermelha");
                  $("#id_duration_field").addClass("borda-verde");

                  //sidebar Menu
                  $("#vert-tabs-date-time-tab").removeClass("borda-vermelha-navMenu");
                  $("#vert-tabs-date-time-tab").addClass("borda-verde-navMenu");

                  //Seguir para o submit true
                  goAheadSubmit = "true";
                }


            //Email Field
            var email = $("input[type='email']").val();
            if(!validateEmail(email) || email == ""){
              $("#id_email_field").removeClass("borda-verde");
              $("#id_email_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-net-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-net-tab").removeClass("borda-verde-navMenu");
              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_email_field").removeClass("borda-vermelha");
              $("#id_email_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-net-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-net-tab").addClass("borda-verde-navMenu");

              //Seguir para o submit true
              goAheadSubmit = "true";
            }

            //Generic Ip Adress Field
            var ipAdress = $("#id_generic_ip_address_field").val();
            if(!validateIpAdress(ipAdress)){
              $("#id_generic_ip_address_field").removeClass("borda-verde");
              $("#id_generic_ip_address_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-net-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-net-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_generic_ip_address_field").removeClass("borda-vermelha");
              $("#id_generic_ip_address_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-net-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-net-tab").addClass("borda-verde-navMenu");

                //Seguir para o submit true
               goAheadSubmit = "true";
            }

            //Url Field
            var urlValidator = $("#id_url_field").val();
            if(!validateUrl(urlValidator)){
              $("#id_url_field").removeClass("borda-verde");
              $("#id_url_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-net-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-net-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_url_field").removeClass("borda-vermelha");
              $("#id_url_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-net-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-net-tab").addClass("borda-verde-navMenu");

              //Seguir para o submit true
              goAheadSubmit = "true";
            }
            
            //Json Field

            var jsonValidator = $("#id_json_field").val();
            if(!validatorJson(jsonValidator) || jsonValidator == "null"){
              $("#id_json_field").removeClass("borda-verde");
              $("#id_json_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-extra-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_json_field").removeClass("borda-vermelha");
              $("#id_json_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-extra-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").addClass("borda-verde-navMenu");

              //Seguir para o submit true
              goAheadSubmit = "true";
            }

            //Uuid Field

            var uuidlValidator = $("#id_uuid_field").val();
            if(!validateUuid(uuidlValidator)){
              $("#id_uuid_field").removeClass("borda-verde");
              $("#id_uuid_field").addClass("borda-vermelha");

              //sidebar Menu
              $("#vert-tabs-extra-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_uuid_field").removeClass("borda-vermelha");
              $("#id_uuid_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-extra-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").addClass("borda-verde-navMenu");

              //Seguir para o submit true
              goAheadSubmit = "true";
            }

           // FIle Field
            if($("#id_file_field").val() == ""){
              $("#id_file_field").addClass("borda-vermelha");
              $("#id_file_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-extra-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_file_field").removeClass("borda-vermelha");
              $("#id_file_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-extra-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").addClass("borda-verde-navMenu");
             
              //Seguir para o submit true
               goAheadSubmit = "true";
            } 
        
            //Image field
            if($("#id_image_field").val() == ""){
              $("#id_image_field").addClass("borda-vermelha");
              $("#id_image_field").removeClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-extra-tab").addClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").removeClass("borda-verde-navMenu");

              //Seguir para o submit false
              goAheadSubmit = "false";
            }else{
              $("#id_image_field").removeClass("borda-vermelha");
              $("#id_image_field").addClass("borda-verde");

              //sidebar Menu
              $("#vert-tabs-extra-tab").removeClass("borda-vermelha-navMenu");
              $("#vert-tabs-extra-tab").addClass("borda-verde-navMenu");
             
              //Seguir para o submit true
              goAheadSubmit = "true";
            } 

            //Faz o submit se receber true de todas as condições.
            if(goAheadSubmit == "true"){
              _this.unbind('submit').submit();
            }

            // continue the submit unbind preventDefault
          })
        })
        
  </script>
  
{% endblock bottom_scripts %}

{% block customizer_scripts %}
  {% if layout_has_customizer %}
  <!-- AdminLTE for demo purposes -->
  <script src="{% static '/adminlte3/js/customizer.js' %}"></script>
  {% endif %}
{% endblock customizer_scripts %}

{% block extra_bottom_scripts %}
{% endblock extra_bottom_scripts %}
</body>
</html>
