{% extends "registration/login.html" %}

{% load i18n static %}

{% block content_wrapper %}
<div class="register-box">
    <div class="card card-outline card-primary">
    <div class="card-header text-center"><a href="{% url layout_home_url_name %}" class="h1">{{ layout_site_name }}</a></div>
    <div class="card-body">
        <p class="login-box-msg">{% translate 'Register a new membership' %}</p>

        <form method="post">{% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Full name" />
                <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" />
                <div class="input-group-append"><div class="input-group-text"><span class="fas fa-envelope"></span></div></div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" />
                <div class="input-group-append"><div class="input-group-text"><span class="fas fa-lock"></span></div></div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Retype password" />
                <div class="input-group-append"><div class="input-group-text"><span class="fas fa-lock"></span></div></div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                        <label for="agreeTerms">{% translate 'I agree to the ' %}<a href="{% url layout_term_of_use_url_name %}">{% translate 'terms' %}</a></label>
                    </div>
                </div>
                <div class="col-4"><button type="submit" class="btn btn-primary btn-block">{% translate 'Register' %}</button></div>
            </div>
        </form>

        <div class="social-auth-links text-center">
            <a href="#" class="btn btn-block btn-primary"><i class="fab fa-facebook mr-2"></i>{% translate 'Sign up using Facebook' %}</a>
            <a href="#" class="btn btn-block btn-danger"><i class="fab fa-google-plus mr-2"></i>{% translate 'Sign up using Google+' %}</a>
        </div>

        <a href="{% url 'login' %}" class="text-center">{% translate 'I already have a membership' %}</a>
    </div>
    </div>
</div>
{% endblock content_wrapper %}
